@font-face {
  font-family: "Taub-Sans";
  src: url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.eot");
  src: url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.woff2") format("woff2"), url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.woff") format("woff"), url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.otf"), url("../fonts/custom_font/TaubSans-Light/TaubSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Taub-Sans";
  src: url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.eot");
  src: url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.woff2") format("woff2"), url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.woff") format("woff"), url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.otf"), url("../fonts/custom_font/TaubSans-Bold/TaubSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Taub-Display-C";
  src: url("../fonts/custom_font/Taub-Display-C/TaubDisplay-C.eot");
  src: url("../fonts/custom_font/Taub-Display-C/TaubDisplay-C.ttf") format("truetype"), url("../fonts/custom_font/Taub-Display-C/TaubDisplay-C.eot?#iefix") format("embedded-opentype"), url("../fonts/custom_font/Taub-Display-C/TaubDisplay-C.woff2") format("woff2"), url("../fonts/custom_font/Taub-Display-C/TaubDisplay-C.woff") format("woff"), url("../fonts/custom_font/TaubDisplayC/TaubDisplay-C.otf");
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: "Taub-Sans", sans-serif;
  font-style: normal;
  font-size: 16pt;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5 {
  color: #121c4e;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
  font-family: "Taub-Sans", sans-serif;
}

p {
  color: #000000;
  line-height: 1.3;
  word-wrap: break-word;
}

a {
  color: #121c4e;
  line-height: 1.3;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover, a:active, a:focus {
  color: #121c4e;
  text-decoration: underline;
}

::-moz-selection {
  background: #0b3480;
  color: #ffffff;
}

::selection {
  background: #0b3480;
  color: #ffffff;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.text-white {
  color: #ffffff;
}

.full-wd {
  width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.visible-full-hd {
  display: none !important;
}

.featured-jobs {
  padding-bottom: 50px;
}

.no-break {
  white-space: nowrap;
}

.hide-not-ready + .not-ready,
.hide-not-ready + style + .not-ready,
.hide-not-ready + footer > .not-ready,
.hide-not-ready + style + footer > .not-ready {
  display: none;
}

img {
  margin: 0 auto;
}

video {
  width: 100%;
  display: block;
}

.aligned-text {
  text-align: center;
}

ul.aligned-list {
  padding: 0px;
  list-style: none;
  text-align: center;
}

:lang(en-US) body .hidden-en {
  display: none;
}

@media (min-width: 768px) {
  .featured-jobs {
    padding-bottom: 100px;
  }
  .aligned-text {
    text-align: left;
  }
  ul.aligned-list {
    padding-left: 40px;
    list-style: disc;
    text-align: left;
  }
}

@media (min-width: 1920px) {
  .hidden-full-hd {
    background: none !important;
    height: auto !important;
  }
  .visible-full-hd {
    display: block !important;
  }
}

@-webkit-keyframes animationRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animationRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.home-container header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  z-index: 100;
}

.home-container header .menu-button a {
  width: 63pt;
  height: 63pt;
  background-color: #121c4e;
  padding: 10pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.home-container header .menu-button a span {
  height: 4pt;
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.home-container header .menu-button a span.line-1 {
  width: 21pt;
}

.home-container header .menu-button a span.line-2 {
  width: 31pt;
}

.home-container header .menu-button a span.line-3 {
  width: 41pt;
}

.home-container .adp-datacloud {
  position: relative;
  height: 80vh;
  background-color: #cfcfcf;
  background-image: url("../img/building-background.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: animatedBackground 20s linear infinite;
  animation: animatedBackground 20s linear infinite;
}

.home-container .adp-datacloud .text-container {
  padding-top: 100pt;
}

.home-container .adp-datacloud .text-container h1 {
  font-size: 24pt;
  margin: 0px;
  padding-bottom: 16pt;
  text-align: center;
}

.home-container .adp-datacloud .text-container p {
  font-size: 12pt;
  margin: 0px;
  width: 145pt;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 20% 0;
  }
  10% {
    background-position: 50% 0;
  }
  15% {
    background-position: 45% 0;
  }
  25% {
    background-position: 60% 0;
  }
  30% {
    background-position: 45% 0;
  }
  35% {
    background-position: 40% 0;
  }
  40% {
    background-position: 42% 0;
  }
  50% {
    background-position: 60% 0;
  }
  55% {
    background-position: 62% 0;
  }
  60% {
    background-position: 70% 0;
  }
  65% {
    background-position: 68% 0;
  }
  70% {
    background-position: 72% 0;
  }
  75% {
    background-position: 65% 0;
  }
  75% {
    background-position: 100% 0;
  }
  90% {
    background-position: 85% 0;
  }
  95% {
    background-position: 90% 0;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  5% {
    background-position: 20% 0;
  }
  10% {
    background-position: 50% 0;
  }
  15% {
    background-position: 45% 0;
  }
  25% {
    background-position: 60% 0;
  }
  30% {
    background-position: 45% 0;
  }
  35% {
    background-position: 40% 0;
  }
  40% {
    background-position: 42% 0;
  }
  50% {
    background-position: 60% 0;
  }
  55% {
    background-position: 62% 0;
  }
  60% {
    background-position: 70% 0;
  }
  65% {
    background-position: 68% 0;
  }
  70% {
    background-position: 72% 0;
  }
  75% {
    background-position: 65% 0;
  }
  75% {
    background-position: 100% 0;
  }
  90% {
    background-position: 85% 0;
  }
  95% {
    background-position: 90% 0;
  }
}

.home-container .future-tech {
  padding-top: 40pt;
  width: 100vw;
  background: url("../img/lines-background.png") no-repeat center center;
  background-size: cover;
}

.home-container .future-tech .title-container h2 {
  font-size: 50pt;
  font-family: "Taub-Display-C", Times, "Montserrat", sans-serif;
  margin: 0px;
  text-align: center;
}

.home-container .future-tech .bottom-container {
  width: 100%;
  position: relative;
}

.home-container .future-tech .bottom-container .titles-to-appear {
  opacity: 0;
}

.home-container .future-tech .bottom-container .titles-to-appear h3 {
  opacity: 1;
  margin: 0;
  text-align: center;
  font-size: 18pt;
  padding: 0pt 5pt 8pt;
  font-weight: bold;
}

.home-container .future-tech .bottom-container .text-to-appear {
  position: relative;
  height: 220pt;
  width: 100%;
}

.home-container .future-tech .bottom-container .text-to-appear p {
  opacity: 0;
  margin: 0;
  text-align: center;
  font-size: 12pt;
  position: absolute;
  top: 120pt;
  bottom: auto;
  left: 0%;
  right: 0%;
  padding: 0pt 10pt;
}

.home-container .future-tech .bottom-container .text-to-appear .titles-to-appear-text {
  position: absolute;
  top: 0%;
  bottom: auto;
  right: 0%;
  left: 0%;
  opacity: 0;
}

.home-container .future-tech .bottom-container .text-to-appear .titles-to-appear-text h3 {
  opacity: 1;
  margin: 0;
  text-align: center;
  font-size: 18pt;
  padding: 0pt 5pt 8pt;
  font-weight: bold;
}

.home-container .future-tech .bottom-container .middle-div {
  position: relative;
}

.home-container .future-tech .bottom-container .middle-div .icons-container {
  display: none;
}

.home-container .future-tech .bottom-container .middle-div .cellphone-circle-container {
  position: relative;
}

.home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone {
  padding-left: 50px;
  position: relative;
}

.home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone img {
  z-index: 5;
  position: relative;
}

.home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::after {
  width: 300px;
  height: 300px;
  content: "";
  background-color: rgba(31, 52, 127, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  border-radius: 100%;
  z-index: 1;
}

.home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::before {
  width: 270px;
  height: 270px;
  content: "";
  background-color: #1f347f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -56%);
          transform: translate(-50%, -56%);
  border-radius: 100%;
  z-index: 2;
}

.home-container .future-tech .dotted-line-container {
  position: relative;
  width: 100%;
  display: none;
}

.home-container .future-tech .dotted-line-container svg {
  overflow: inherit;
}

.home-container .future-tech .dotted-line-container svg#dotted-svg .cls-1 {
  fill: #000;
  stroke-miterlimit: 0;
  opacity: 1;
  scale: 0.93;
}

.home-container .future-tech .straight-line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  margin: 0 auto;
  display: none;
}

.home-container .future-tech .straight-line-container svg {
  overflow: inherit;
}

.home-container .future-tech .straight-line-container svg .cls-1 {
  opacity: 1;
}

@media (min-width: 992px) {
  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .home-container .adp-datacloud {
    width: 216pt;
    padding-left: 30pt;
    height: 100vh;
  }
  .home-container .adp-datacloud .text-container h1 {
    text-align: left;
  }
  .home-container .adp-datacloud .text-container p {
    text-align: left;
    margin-left: 0px;
  }
  .home-container .future-tech {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100vh;
  }
  .home-container .future-tech .bottom-container {
    width: 705px;
    margin: 0 auto;
    position: relative;
    padding: 50pt 0pt;
  }
  .home-container .future-tech .bottom-container .titles-to-appear {
    position: absolute;
  }
  .home-container .future-tech .bottom-container .titles-to-appear#executive-title {
    bottom: 0%;
    right: 0%;
    left: 0%;
  }
  .home-container .future-tech .bottom-container .titles-to-appear#reporting-title {
    top: 0%;
    right: 0%;
    left: 0%;
  }
  .home-container .future-tech .bottom-container .titles-to-appear#benchmarking-title {
    top: 50%;
    right: 0px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  .home-container .future-tech .bottom-container .titles-to-appear#data-title {
    top: 50%;
    left: 0px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  .home-container .future-tech .bottom-container .text-to-appear {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 40%;
    height: 150pt;
  }
  .home-container .future-tech .bottom-container .text-to-appear p {
    text-align: left;
    top: 25pt;
    font-size: 10pt;
  }
  .home-container .future-tech .bottom-container .text-to-appear .titles-to-appear-text {
    position: absolute;
    top: 0%;
  }
  .home-container .future-tech .bottom-container .text-to-appear .titles-to-appear-text h3 {
    text-align: left;
    padding: 0pt 9pt 8pt;
  }
  .home-container .future-tech .bottom-container .middle-div {
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container {
    position: absolute;
    background-color: #ffffff;
    border: 2px dashed #121c4e;
    width: 40pt;
    height: 40pt;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
    margin: 0 auto;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container .blue-div {
    background-color: #121c4e;
    width: 30pt;
    height: 30pt;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#data-icon {
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-22%, -60%);
            transform: translate(-22%, -60%);
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#executive-icon {
    bottom: -2%;
    left: 0%;
    right: 0%;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#reporting-icon {
    top: -3%;
    left: 0%;
    right: 0%;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#benchmarking-icon {
    top: 50%;
    right: 0%;
    -webkit-transform: translate(25%, -52%);
            transform: translate(25%, -52%);
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -48%);
            transform: translate(-50%, -48%);
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone {
    padding-left: 18%;
    position: relative;
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone img {
    z-index: 5;
    position: relative;
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::after {
    width: 175px;
    height: 175px;
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::before {
    width: 145px;
    height: 145px;
  }
  .home-container .future-tech .dotted-line-container {
    display: block;
  }
  .home-container .future-tech .straight-line-container {
    display: block;
  }
}

@media (min-width: 1200px) {
  .home-container .future-tech .bottom-container {
    width: 930px;
  }
  .home-container .future-tech .bottom-container .text-to-appear {
    position: absolute;
    bottom: 0%;
    right: 0%;
  }
  .home-container .future-tech .bottom-container .middle-div {
    width: 60%;
    margin: 0 auto;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container {
    width: 43pt;
    height: 43pt;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container .blue-div {
    width: 38pt;
    height: 38pt;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#executive-icon {
    bottom: 0%;
  }
  .home-container .future-tech .bottom-container .middle-div .icons-container#benchmarking-icon {
    right: 1%;
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::after {
    width: 300px;
    height: 300px;
  }
  .home-container .future-tech .bottom-container .middle-div .cellphone-circle-container .cellphone::before {
    width: 270px;
    height: 270px;
  }
}

@media (min-width: 1800px) {
  .home-container .future-tech .bottom-container .titles-to-appear h3 {
    font-size: 24pt;
  }
  .home-container .future-tech .bottom-container .titles-to-appear#benchmarking-title {
    right: -50pt;
  }
  .home-container .future-tech .bottom-container .titles-to-appear#data-title {
    left: -50pt;
  }
  .home-container .future-tech .bottom-container .text-to-appear {
    right: -20%;
    width: 56%;
  }
  .home-container .future-tech .bottom-container .text-to-appear p {
    font-size: 14pt;
  }
}

#future-title span.word1 {
  white-space: nowrap;
  display: inline;
}

#future-title span.word1 .char1 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

#future-title span.word1 .char2 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#future-title span.word1 .char3 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#future-title span.word2 {
  white-space: nowrap;
  display: inline;
}

#future-title span.word2 .char1 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#future-title span.word2 .char2 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#future-title span.word2 .char3 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#future-title span.word2 .char4 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}

#future-title span.word2 .char5 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#future-title span.word2 .char6 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

#future-title span.word3 {
  white-space: nowrap;
  display: inline;
}

#future-title span.word3 .char1 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

#future-title span.word3 .char2 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

#future-title span.word4 {
  white-space: nowrap;
  display: inline;
}

#future-title span.word4 .char1 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#future-title span.word4 .char2 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.65s;
  animation-delay: 0.65s;
}

#future-title span.word5 {
  white-space: nowrap;
  display: inline;
}

#future-title span.word5 .char1 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

#future-title span.word5 .char2 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

#future-title span.word5 .char3 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

#future-title span.word5 .char4 {
  display: inline-block;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation-delay: 0.85s;
  animation-delay: 0.85s;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */