
.home-container{
  header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 100;

    .menu-button{

      a{
        width: 63pt;
        height: 63pt;
        background-color: #121c4e;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        span{
          height: 4pt;
          background-color: $white;
          flex: 0 1 auto;

          &.line-1{
            width: 21pt;
          }

          &.line-2{
            width: 31pt;
          }

          &.line-3{
            width: 41pt;
          }
        }
      }
    }
  }

  .adp-datacloud{
    position: relative;
    // width: 20%;
    height: 80vh;
    background-color: #cfcfcf;

    .text-container{
      padding-top: 100pt;

      h1{
        font-size: 24pt;
        margin: 0px;
        padding-bottom: 16pt;
        text-align: center;
      }

      p{
        font-size: 12pt;
        margin: 0px;
        width: 145pt;
        margin: 0 auto;
        text-align: center;
      }
    }

    background-image: url("../img/building-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    @keyframes animatedBackground {
      0% { background-position: 0 0; }
      5% { background-position: 20% 0; }
      10% { background-position: 50% 0; }
      15% { background-position: 45% 0; }
      25% { background-position: 60% 0; }
      30% { background-position: 45% 0; }
      35% { background-position: 40% 0; }
      40% { background-position: 42% 0; }
      50% { background-position: 60% 0; }
      55% { background-position: 62% 0; }
      60% { background-position: 70% 0; }
      65% { background-position: 68% 0; }
      70% { background-position: 72% 0; }
      75% { background-position: 65% 0; }
      75% { background-position: 100% 0; }
      90% { background-position: 85% 0; }
      95% { background-position: 90% 0; }
    }

    animation: animatedBackground 20s linear infinite;
  }

  .future-tech{
    padding-top: 40pt;

    .title-container{
      h2{
        font-size: 50pt;
        font-family: $secondary-font;
        margin: 0px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px) {

  .home-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .adp-datacloud{
      width: 216pt;
      padding-left: 30pt;
      height: 100vh;

      .text-container{

        h1{
          text-align: left;
        }

        p{
          text-align: left;
          margin-left: 0px;
        }
      }
    }

    .future-tech{
      flex: 1;
    }
  }
}
