.home-container {
  header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 100;

    .menu-button {
      a {
        width: 63pt;
        height: 63pt;
        background-color: #121c4e;
        padding: 10pt;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        span {
          height: 4pt;
          background-color: $white;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;

          &.line-1 {
            width: 21pt;
          }

          &.line-2 {
            width: 31pt;
          }

          &.line-3 {
            width: 41pt;
          }
        }
      }
    }
  }

  .adp-datacloud {
    position: relative;
    // width: 20%;
    height: 80vh;
    background-color: #cfcfcf;

    .text-container {
      padding-top: 100pt;

      h1 {
        font-size: 24pt;
        margin: 0px;
        padding-bottom: 16pt;
        text-align: center;
      }

      p {
        font-size: 12pt;
        margin: 0px;
        width: 145pt;
        margin: 0 auto;
        text-align: center;
      }
    }

    background-image: url("../img/building-background.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    @-webkit-keyframes animatedBackground {
      0% {
        background-position: 0 0;
      }
      5% {
        background-position: 20% 0;
      }
      10% {
        background-position: 50% 0;
      }
      15% {
        background-position: 45% 0;
      }
      25% {
        background-position: 60% 0;
      }
      30% {
        background-position: 45% 0;
      }
      35% {
        background-position: 40% 0;
      }
      40% {
        background-position: 42% 0;
      }
      50% {
        background-position: 60% 0;
      }
      55% {
        background-position: 62% 0;
      }
      60% {
        background-position: 70% 0;
      }
      65% {
        background-position: 68% 0;
      }
      70% {
        background-position: 72% 0;
      }
      75% {
        background-position: 65% 0;
      }
      75% {
        background-position: 100% 0;
      }
      90% {
        background-position: 85% 0;
      }
      95% {
        background-position: 90% 0;
      }
    }

    @keyframes animatedBackground {
      0% {
        background-position: 0 0;
      }
      5% {
        background-position: 20% 0;
      }
      10% {
        background-position: 50% 0;
      }
      15% {
        background-position: 45% 0;
      }
      25% {
        background-position: 60% 0;
      }
      30% {
        background-position: 45% 0;
      }
      35% {
        background-position: 40% 0;
      }
      40% {
        background-position: 42% 0;
      }
      50% {
        background-position: 60% 0;
      }
      55% {
        background-position: 62% 0;
      }
      60% {
        background-position: 70% 0;
      }
      65% {
        background-position: 68% 0;
      }
      70% {
        background-position: 72% 0;
      }
      75% {
        background-position: 65% 0;
      }
      75% {
        background-position: 100% 0;
      }
      90% {
        background-position: 85% 0;
      }
      95% {
        background-position: 90% 0;
      }
    }

    -webkit-animation: animatedBackground 20s linear infinite;

    animation: animatedBackground 20s linear infinite;
  }

  .future-tech {
    padding-top: 40pt;
    width: 100vw;
    background: url("../img/lines-background.png") no-repeat center center;
    background-size: cover;

    .title-container {
      h2 {
        font-size: 50pt;
        font-family: $secondary-font;
        margin: 0px;
        text-align: center;
      }
    }

    .bottom-container {
      width: 100%;
      position: relative;

      .titles-to-appear {
        opacity: 0;

        h3 {
          opacity: 1;
          margin: 0;
          text-align: center;
          font-size: 18pt;
          padding: 0pt 5pt 8pt;
          font-weight: bold;
        }
      }

      .text-to-appear {
        position: relative;
        height: 180pt;
        width: 100%;

        p {
          opacity: 0;
          margin: 0;
          text-align: center;
          font-size: 12pt;
          position: absolute;
          top: 50pt;
          bottom: auto;
          left: 0%;
          right: 0%;
          padding: 0pt 10pt;
        }

        .titles-to-appear-text {
          position: absolute;
          top: 0%;
          bottom: auto;
          right: 0%;
          left: 0%;
          opacity: 0;
          
          h3 {
            opacity: 1;
            margin: 0;
            text-align: center;
            font-size: 18pt;
            padding: 0pt 5pt 8pt;
            font-weight: bold;
          }
        }
      }

      .middle-div {
        position: relative;

        .icons-container {
          display: none;
        }

        .cellphone-circle-container {
          position: relative;

          .cellphone {
            padding-left: 50px;
            position: relative;

            img {
              z-index: 5;
              position: relative;
            }

            &::after {
              width: 300px;
              height: 300px;
              content: "";
              background-color: rgba($color: #1f347f, $alpha: 0.5);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -55%);
              border-radius: 100%;
              z-index: 1;
            }

            &::before {
              width: 270px;
              height: 270px;
              content: "";
              background-color: #1f347f;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -56%);
              border-radius: 100%;
              z-index: 2;
            }
          }
        }
      }
    }

    .dotted-line-container {
      position: relative;
      width: 100%;
      display: none;

      svg {
        overflow: inherit;
        // transform: scale(0.9);

        &#dotted-svg {
          .cls-1 {
            fill: $black;
            stroke-miterlimit: 0;
            opacity: 1;
            scale: 0.93;
          }
        }
      }
    }

    .straight-line-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      margin: 0 auto;
      display: none;

      svg {
        overflow: inherit;
        .cls-1 {
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .adp-datacloud {
      width: 216pt;
      padding-left: 30pt;
      height: 100vh;
      // position: fixed;

      .text-container {
        h1 {
          text-align: left;
        }

        p {
          text-align: left;
          margin-left: 0px;
        }
      }
    }

    .future-tech {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: 100vh;

      .bottom-container {
        width: 705px;
        margin: 0 auto;
        position: relative;
        padding: 50pt 0pt;

        .titles-to-appear {
          position: absolute;

          &#executive-title {
            bottom: 0%;
            right: 0%;
            left: 0%;
          }

          &#reporting-title {
            top: 0%;
            right: 0%;
            left: 0%;
          }

          &#benchmarking-title {
            top: 50%;
            right: 0px;
            transform: translate(0%, -50%);
          }

          &#data-title {
            top: 50%;
            left: 0px;
            transform: translate(0%, -50%);
          }
        }

        .text-to-appear {
          position: absolute;
          bottom: 0%;
          right: 0%;
          width: 40%;
          height: 150pt;

          p {
            text-align: left;
            top: 25pt;
            font-size: 10pt;
          }

          .titles-to-appear-text {
            position: absolute;
            top: 0%;

            h3 {
              text-align: left;
              padding: 0pt 9pt 8pt;
            }
          }
        }

        .middle-div {
          position: relative;
          width: 50%;
          margin: 0 auto;

          .icons-container {
            position: absolute;
            background-color: #ffffff;
            border: 2px dashed #121c4e;
            width: 40pt;
            height: 40pt;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin: 0 auto;

            .blue-div {
              background-color: #121c4e;
              width: 30pt;
              height: 30pt;
              border-radius: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: 0 auto;
            }

            &#data-icon {
              top: 50%;
              left: 0%;
              transform: translate(-22%, -60%);
            }

            &#executive-icon {
              bottom: -2%;
              left: 0%;
              right: 0%;
            }

            &#reporting-icon {
              top: -3%;
              left: 0%;
              right: 0%;
            }

            &#benchmarking-icon {
              top: 50%;
              right: 0%;
              transform: translate(25%, -52%);
            }
          }

          .cellphone-circle-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -48%);

            .cellphone {
              padding-left: 18%;
              position: relative;

              img {
                z-index: 5;
                position: relative;
              }

              &::after {
                width: 175px;
                height: 175px;
              }

              &::before {
                width: 145px;
                height: 145px;
              }
            }
          }
        }
      }

      .dotted-line-container {
        display: block;
      }

      .straight-line-container {
        display: block;
      }
    }
  }
}

@media (min-width: 1200px) {
  .home-container {
    .future-tech {
      .bottom-container {
        width: 930px;

        .text-to-appear {
          position: absolute;
          bottom: 0%;
          right: 0%;
        }

        .middle-div {
          width: 60%;
          margin: 0 auto;

          .icons-container {
            width: 43pt;
            height: 43pt;

            .blue-div {
              width: 38pt;
              height: 38pt;
            }

            &#executive-icon {
              bottom: 0%;
            }

            &#benchmarking-icon {
              right: 1%;
            }
          }

          .cellphone-circle-container {
            .cellphone {
              &::after {
                width: 300px;
                height: 300px;
              }

              &::before {
                width: 270px;
                height: 270px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1800px) {
  .home-container {
    .future-tech {
      .bottom-container {
        .titles-to-appear {
          h3 {
            font-size: 24pt;
          }

          &#benchmarking-title {
            right: -50pt;
          }

          &#data-title {
            left: -50pt;
          }
        }

        .text-to-appear {
          right: -20%;
          width: 56%;

          p {
            font-size: 14pt;
          }
        }
      }
    }
  }
}

// Title animation

$words: 5;
$chars: (3, 6, 2, 2, 4);

$delay: 0.05s;
// $chars: 21;

@for $j from 1 through $words {
  #future-title {
    span {
      &.word#{$j} {
        white-space: nowrap;
        display: inline;

        @for $i from 1 through nth($chars, $j) {
          .char#{$i} {
            display: inline-block;

            // @if $i == 4 or $i == 11 or $i == 14 or $i == 17 {
            //   display: inline;
            // }

            -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
            -webkit-animation-delay: #{$delay};
            animation-delay: #{$delay};
            $delay: $delay + 0.05s;
          }
        }
      }
    }
  }
}

// @for $i from 1 through $chars {
//   #future-title {
//     span {
//         &.char#{$i} {
//         display: inline-block;

//         @if $i == 4 or $i == 11 or $i == 14 or $i == 17 {
//           display: inline;
//         }

//         -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
//         animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
//         -webkit-animation-delay: #{$delay};
//         animation-delay: #{$delay};
//         $delay: $delay + 0.05s;
//       }
//     }
//   }
// }

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

#straight-svg {

}
